{% extends 'base.html' %}

{% block content %}
    {% if groceries|length < 1 %}
        <p>There is nothing to show!</p>
    {% else %}
        <table> <!-- table>thead>tr>th*3 -->
            <thead>
            <tr>
                <th>Groceries</th>
                <th>Added</th>
                <th></th>
            </tr>
            </thead>
            <tbody> <!-- tbody>tr>td*3 -->
            {% for grocery in groceries %}
                <!-- каждая строка таблицы - это запись в базе данных -->
            <tr>
                <td>{{ grocery.name }}</td>
                <td>{{ grocery.added.date() }}</td>
                <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <form action="/" method="POST">
        <label for="newItem">New Item: </label>
        <input type="text" name="name" id="newItem">
        <button type="submit">Add</button>
    </form>

{% endblock %}