{% extends 'base.html' %}

{% block content %}
    {% if groceries|length < 1 %}
        <p>There is nothing to show!</p>
    {% else %}
        <table class="table"> <!-- table>thead>tr>th*3 -->
            <thead>
            <tr>
                <th scope="col">Groceries</th>
                <th scope="col">Added</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody> <!-- tbody>tr>td*3 -->
            {% for grocery in groceries %}
                    <!-- каждая строка таблицы - это запись в базе данных -->
                <tr>
                    <td><a href="/update/{{ grocery.id }}" class="badge bg-info">{{ grocery.name }}</a></td>
                    <td>{{ grocery.added.date() }}</td>
                    <td><a href="/delete/{{ grocery.id }}" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'snippets/add_form.html' %}

{% endblock %}